* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;

}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
.container-homepage {
  width: 100%;
  overflow: hidden;
} 

.big-imageheader {
  width: 100%;
  height: 100vh;
  background-image: url("/img/thinkingwoman.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  animation: slideAnimation 9s infinite;
  animation-delay: 3s;
}

@keyframes slideAnimation {
  0%,
  100% {
    background-image: url("./img/teams.jpg");
  }

  16.666% {
    background-image: url("./img/teams.jpg");
  }
  33.333% {
    background-image: url("./img/teams.jpg");
  }
  100% {
    background-image: url("./img/teams.jpg");
  }
  66.666% {
    background-image: url("./img/team1.avif");
  }
  83.333% {
    background-image: url("./img/team1.avif");
  }
  100% {
    background-image: url("./img/team1.avif");
  }
}

.content-achievement1 {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  overflow: hidden;
}

.logo-box {
  
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {

  height: 60px;
background-color: white;
  border-radius: 50%;
}
.logo-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-name {
  margin-left: 10px;
  color: white;
  font-size: 1.5rem;
}
.container-navigation {
  width: 1200px;
  margin:  auto;

  /* background-color: white;*/
  /*  justify-content: flex-end;
  position: fixed;
    z-index: 2;*/
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 1rem;
}

.container-navigation ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 2rem;

}
.container-navigation ul li a {
  text-decoration: none;
  padding: 12px;
  color: white;
  
}
.container-navigation i {
  font-size: 1rem;
  background-color: #cf711f;
  padding: 1rem;
  border-radius: 50%;
  }
.container-navigation ul li a:hover {
  transition: 0.3s;
  color:  #fdf2e9;
}
.container-navigation ul li a:active {
  color: #e67e22;
}
/*.container-navigation ul li a:visited {
  color: lightgreen;
}*/


.text-box {
 max-width: 50%;
  position: absolute;
  top: 55%;

  left: 30%;
  transform: translate(-50%, -50%);
 
  padding: 2rem;
  line-height: 1.5;

}
.text-box > h2 {
  font-size: 40px;
  margin-bottom: 32px;
  line-height: 1.3;
  color: white;
  text-transform: capitalize;
  animation: moveinleft 1s ease-out;
}


.heading-primary-main-sub {
  margin-top: 20px;
 
  color: #eeeeee;
 
  display: block;

  text-transform: capitalize;
  font-weight: lighter;
  animation: moveinleft 1s ease-out;


  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(30px);
  }
}*/

@keyframes moveinBotton {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 5;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  margin-top: 50px;
  justify-content: center;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgab(0, 0, 0, 0.2);
  color: #eeeeee;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgab(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #cf711f;
  color: #eeeeee;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #cf711f;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveinBotton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.heading-primary-main {
  display: block;
  font-size: 20px;

  animation-name: moveinleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*  animation-delay: 3s;
  animation-iteration-count: 3;*/
}

@media (min-width: 481px) and (max-width: 1200px) {
  .container-navigation {
    display: none;
  }

}
